
.heading{
    width: 100%;
    text-align: left;
}

.heading h3{
    display: inline;
}

.heading button{
    float: right;
    border: 1px solid whitesmoke;
}

.big_image{
    width: 100%;
}

#start,  #status{
    font-size: 22px;
}

#footer
{
    position: fixed;
   background-color: #f5f5f5;
   line-height: 2;
   bottom: 0;
   width: 100%;
   margin-top: 430px;
}

canvas{
    border: 3px solid white;
    border-radius: 20;
    margin-top: 0px;
}

